<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TP1_RLE/dossierEtudiantSuperTexte/CompresseurTexteEtudiant.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="CompresseurTexteEtudiant"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/export/etu/joshua.millien/S4/Compression/TP1_RLE/dossierEtudiantSuperTexte/exemplesTextesSimples/exemple1.txt convertA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TP1_RLE"/>
</launchConfiguration>
